---
layout: default
css: index
js: index
comments: true
date: 2017-04-05T08:05:00
---

<div class="main-container">

  <div class="main wrapper clearfix">
    <article>
    {% for post in site.posts reversed %}
      <section>
        <header>
          <h2>{{ post.title }}</h2>
          {% if post.about %}
          <p>{{ post.about }}</p>
          {% endif %}
        </header>
        {{ post.content }}
      </section>
    {% endfor %}
    </article>

    <div class="entry-meta">
          <span class="sep">Last updated </span><time class="entry-date" datetime="" pubdate>{{ page.date }}</time>
    </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  <div id="disqus_thread"></div>
  <script>
  /**
  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */
  var shortname = '{{ site.disqus_shortname }}';
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');

  s.src = '//' + shortname + '.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
